.overlay {
  background: rgba($color: #000000, $alpha: .6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--complementary-color);
  border: none;
  border-radius: 0.25rem;
  width: 90vw;
  max-width: 800px;
  max-height: 500px;
  padding: 0.6rem;
  overflow: auto;
  color: #fff;

  p {
    margin: 0.6rem 0;
  }

  strong {
    color: var(--accent-color);
  }

  input {
    border: none;
    border-radius: 0.25rem;
    margin: 0.6rem 0;
    padding: 0.6rem;
    box-sizing: border-box;
  }
}

.filter-container {
  margin: 0.6rem 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.6rem;

  select {
    border: none;
    border-radius: 0.25rem;
    padding: 0.6rem;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
  }
}

.available-characteristics {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.overflowed-content {
  width: 100%;
  overflow: auto;
}
