.toast {
  background: var(--complementary-color);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 0.6rem;
  width: 90vw;
  max-width: 500px;
  box-shadow: 0 0 10px #000;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.6rem;

  position: fixed;
  z-index: 99;
  top: 1rem;
  right: 0;
  left: 0;
  margin: 1rem auto 0;

  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}
